table{
    border-collapse: collapse; 
    border: 2px dashed orange;



}

table th, table td{
    border-style: dashed dashed;
    border-width: 5px;
    border-color:  red;




}

th {
    background-color:  orange;
    }